html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding*2);
}

nav {
  background: linear-gradient(0deg, hsla(260, 100%, 20%, 0.049),  hsl(260, 100%, 20%), hsl(220, 100%, 15%),hsl(220, 100%, 10%));
  text-align: center;
  padding: 30px 0;
  position: fixed; 
  top: 0;
  width: 100%; 
  height: fit-content;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
}

nav a{
  flex-wrap: wrap;
}

body {
    background: linear-gradient(45deg, hsl(180, 100%, 10%), hsl(210, 20%, 30%), hsl(260, 100%, 20%), hsl(220, 100%, 15%));
    background-size: 400% 400%;
    animation: gradient 10s ease-in-out infinite;
    font-family: sans-serif, Arial;
    font-size: 12*32%;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 80%;
    }
    50% {
      background-position: 20% 80%;
    }
    50% {
      background-position: 80% 50%;
    }
    75% {
      background-position: 20% 50%;
    }
    100% {
      background-position: 0% 80%;
    }
  }

  section {
    padding-top: var(--scroll-padding);
  }

  section .card{
    padding-bottom: none;
    padding-top: var(--reverse-padding);
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s;
    z-index: 1000;
  }
  
  .scroll-to-top i {
    font-size: 24px;
  }

  main {
    align-items: center;
    display: flex;
    color: white;
    flex-wrap: wrap;
    padding: 1.33% 2.666%;
    /* padding: 2em; */
  }
  main h1{
    color: Orange;
  }
  .home-image {
    float: left;
    width: auto;
    height: 80px;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 0;
}


  .card {
    background-color: transparent;
    box-shadow: 0 0.133% 0.3333% rgba(0, 0, 0, 0.1);
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;
    padding-top: var(--reverse-padding);
}

.contact-content {
    text-align: center;
    padding: 1.33% 2.666%;
}

footer {
    background-color: rgba(0, 0, 0, 0.252);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px; 
    gap: 2em;
    width: fit-content;
    height: fit-content;
    padding-right: 20px;
  }
  
  .button {
    position: sticky;
    display: inline-block;
    font-size: 14px * 24%; /* Use just the font size value */
    padding: 10px 20px; /* Adjust padding for the buttons */
    background-color: hsla(0, 0, 0, 0.25);
    color: white;
    border: 2px solid #4CAF50; 
    border-radius: 20px; 
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button a {
    position: sticky;
    text-decoration: none !important;
    color: white;
  }
  
  .button:hover {
    background-color: orange;
    color: white;
    border: none;
  }

.contact-content .buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
  gap: 10px;
  
}

.contact-content .button {
  display: inline-block;
  font-size: 24px * 24%;
  padding: 10px 20px;
  background-color:  #4CAF50;
  color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content; 
}

.contact-content .button a {
  text-decoration: none !important;
  color: white;
}

.contact-content .button:hover {
  background-color: orange;
  color: white;
}
